* {
  margin: 0px;
  border: 0px;
}

img {
  width: 100%;
  height: 100%;
}

.imgg {
  width: 30px;
  height: auto;
  padding-top: 15px;
}

header {
  background: #FAE588;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #F9DC5C;
  background-image: url(../assets/images/ip2.png);
  grid-area: main;
}

footer {
  background: #FAE588;
}

#imgHeader {
  width: 260px;
  height: auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContainer .card {
  width: 60%;
  background: #FAE588;
  margin-bottom: 20px;
}

.flexContainer .card section h2 {
  font-size: 24px;
  text-align: center;
}

.flexContainer .card section img {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 5px;
}

.flexContainer .card section iframe {
  width: 90%;
  margin-left: 5%;
}

.flexContainer .card section p {
  width: 90%;
  font-size: 16px;
  margin-left: 5%;
}

.flexContainer__sabores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  height: auto;
}

.flexContainer__sabores .card {
  width: 60%;
  background: #FAE588;
  margin-bottom: 20px;
}

.flexContainer__sabores .card section h2 {
  font-size: 24px;
  text-align: center;
}

.flexContainer__sabores .card section img {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 5px;
}

.flexContainer__sabores .card section p {
  width: 90%;
  font-size: 16px;
  margin-left: 5%;
}

.footer__contact {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

.footer__contact h3 {
  font-size: 16px;
  text-align: center;
}

.footer__contact ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}

.footer__contact ul img {
  width: 30px;
  height: 30px;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

.footer__time h3 {
  font-size: 16px;
  text-align: center;
}

.footer__time ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .flexContainer__sabores {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */