$margin-card: 5px;
$space: 15px;
$background-colourOne: #FAE588;
$background-colourTwo: #F9DC5C;
$background-image: url(../assets/images/ip2.png);
$tSizeh1: 28px;
$tSizeh2: 24px;
$tSizeh3: 16px;
$tAlign: center;
$cardSize: 60%;
$cardContent-size: 90%;
$cardContent-margin: 5%;

@mixin text {
  width: 90%;
  font-size: $tSizeh3;
  margin-left: $cardContent-margin;
}

@mixin h2 {
  font-size: $tSizeh2;
  text-align: $tAlign;
}

* {
  margin: 0px;
  border: 0px;
}

img {
  width: 100%;
  height: 100%;
}

.imgg {
  width: 30px;
  height: auto;
  padding-top: $space;
}

header {
  background: $background-colourOne;
}

main {
  padding-top: $space;
  padding-bottom: $space;
  background: $background-colourTwo;
  background-image: $background-image;
  grid-area: main;
  height: auto;

  h1 {
    text-align: center;
  }
}

.main{
  height: 1200px;
}

footer {
  background: $background-colourOne;
}

#imgHeader {
  width: 260px;
  height: auto;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-self: center;
  height: auto;

  .card {
    width: $cardSize;
    background: $background-colourOne;
    margin-bottom: 20px;

    section {

      h2 {
        @include h2
      }

      img {
        width: $cardContent-size;
        height: auto;
        margin-left: $cardContent-margin;
        margin-bottom: 5px;
      }

      iframe {
        width: $cardContent-size;
        margin-left: $cardContent-margin;

      }

      p {
        @include text
      }

    }
  }
}

.flexContainer__sabores {

  @extend .flexContainer;

  .card {
    width: $cardSize;
    background: $background-colourOne;
    margin-bottom: 20px;

    section {

      h2 {
        @include h2
      }

      img {
        width: $cardContent-size;
        height: auto;
        margin-left: $cardContent-margin;
        margin-bottom: 5px;
      }

      p {
        width: 90%;
        font-size: $tSizeh3;
        margin-left: $cardContent-margin;
      }
    }
  }
}


.footer__contact {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20%;

  h2 {
    font-size: $tSizeh3;
    text-align: $tAlign;
  }

  ul {
    text-align: $tAlign;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "op1 op2"
    "op3 op4"
    "op5 op6"
    "op7 op7"
    "op8 op8";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr) 0.5fr;
  height: 600px;
  overflow: hidden;
  background-color: $background-colourOne;

  .op1 {
    grid-area: op1;
    border: 2px solid black;
    text-align: center;
  }

  .op2 {
    grid-area: op2;
    border: 2px solid black;
    text-align: center;
  }

  .op3 {
    grid-area: op3;
    border: 2px solid black;
    text-align: center;
  }

  .op4 {
    grid-area: op4;
    border: 2px solid black;
    text-align: center;
  }

  .op5 {
    grid-area: op5;
    border: 2px solid black;
    text-align: center;
  }

  .op6 {
    grid-area: op6;
    border: 2px solid black;
    text-align: center;
  }

  .op7 {
    grid-area: op7;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
    text-align: center;
  }

  .op8 {
    grid-area: op8;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
  }
}



@media screen and (min-width: 0px) and (max-width: 767px) {
  .flexContainer__sabores {
    display: none;
  }
}